<style>
  /*.formcontrol{
    border-style: outset;
    border : 10px outset black;
    margin: 200px 450px 200px 450px;
    background-color:white;
    box-shadow: 10px 10px 5px grey;
    }*/
  .alignright{
    text-align: right;
    margin-right: 20px;

  }
  body{
    background-color:rgb(240,240,240);
    color: black;
    }

    ul {
      list-style-type: none;
      margin: -8px;
      padding:0;
      overflow: hidden;
      box-shadow: 0px 4px 4px grey;
            /*background-color: rgb(120,120,120);
      */
    }

    li {
      float: left;
    }

    li a {
      display: block;
      padding: 15px;
      color: rgb(0,0,0);
      text-decoration: none;
    }
    li a:hover , .dropdown:hover .dropbtn{
      background-color: rgb(180,180,180);
    }

    li.dropdown {
  display: inline-block;
}

    .dropdown-content {
      display: none;
      position:absolute;
      background-color: #f9f9f9;
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 1;
    }

    .dropdown-content a {
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
      text-align: left;
    }

    .dropdown-content a:hover {background-color: #f1f1f1;}

    .dropdown:hover .dropdown-content {
      display: block;
    }
    .body2{
      border-style: outset;
      /*border : 10px outset black;*/
      margin: 20px;
      height: 550px;
      background-color:rgb(240,240,240);
      box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

</style>
